#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>

#define DEF 0
#define LOWER 1
#define RAISE 2
#define FN 3
#define CONFIG 4

#define HYP LS(LC(LA(LGUI)))
#define MEH LC(LA(LGUI))
#define HYPER(key) LS(LC(LA(LG(key))))
#define MO_TOG(layer) &mo_tog layer layer

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <300>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&mt {
  tapping-term-ms = <200>;
};

/ {
    behaviors {
      mo_tog: behavior_mo_tog {
        compatible = "zmk,behavior-hold-tap";
        label = "mo_tog";
        #binding-cells = <2>;
        flavor = "hold-preferred";
        tapping-term-ms = <200>;
        bindings = <&mo>, <&tog>;
      };

      rshift_caps: tap_dance_0 {
        compatible = "zmk,behavior-tap-dance";
        label = "rshift_caps";
        #binding-cells = <0>;
        tapping-term-ms = <200>;
        bindings = <&kp RSHFT>, <&kp CAPS>;
      };
    };

    conditional_layers {
      compatible = "zmk,conditional-layers";
      tri_layer { 
        if-layers = <LOWER RAISE>;
        then-layer = <FN>;
      };
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
        tap-ms = <100>;
    };

    keyboard_brightness_encoder: keyboard_brightness_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
        tap-ms = <100>;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
            &gresc      &kp N1     &kp N2    &kp N3    &kp N4    &kp N5        &mmv MOVE_UP       &kp N6       &kp N7     &kp N8     &kp N9      &kp N0      &kp BACKSPACE
            &kp TAB     &kp Q      &kp W     &kp E     &kp R     &kp T         &mmv MOVE_DOWN     &kp Y        &kp U      &kp I      &kp O       &kp P       &kp BSLH
            &kp LCTRL   &kp A      &kp S     &kp D     &kp F     &kp G         &mmv MOVE_LEFT     &kp H        &kp J      &kp K      &kp L       &kp SEMI    &kp SQT
            &kp LSHFT   &kp Z      &kp X     &kp C     &kp V     &kp B         &mmv MOVE_RIGHT    &kp N        &kp M      &kp COMMA  &kp DOT     &kp FSLH    &rshift_caps
&kp C_MUTE              &kp LCTRL  &kp LALT  &kp LGUI  &mo RAISE &kp SPACE     &mkp LCLK          &mt MEH RET  &mo LOWER  &kp RCTRL  &mo CONFIG  &kp DELETE
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            display-name = "QWERTY";
        };

        lower_layer {
            bindings = <
         &trans   &trans     &trans     &trans     &trans    &trans       &trans    &trans     &trans     &trans    &trans     &trans     &trans
         &trans   &kp LT     &kp LBKT   &kp LBRC   &kp LPAR  &kp TILDE    &trans    &kp GRAVE  &kp RPAR   &kp RBRC  &kp RBKT   &kp GT     &kp PIPE
         &trans   &kp MINUS  &kp EQUAL  &kp PLUS   &kp STAR  &kp FSLH     &trans    &kp POUND  &sk RGUI   &sk RALT  &sk RCTRL  &sk RSHFT  &kp DQT
         &trans   &kp EXCL   &kp AT     &kp POUND  &kp DLLR  &kp PRCNT    &trans    &kp CARET  &kp UNDER  &kp AMPS  &kp PIPE   &kp QMARK  &trans
&trans            &trans     &trans     &trans     &trans    &trans       &trans    &trans     &trans     &trans    &trans     &trans
            >;

            display-name = "SYM";
            sensor-bindings = <&scroll_encoder>;
        };

        raise_layer {
            bindings = <
        &trans  &trans     &trans     &trans      &trans      &trans      &trans       &trans    &trans    &trans    &trans    &trans   &kp DEL
        &trans  &none      &none      &none       &none       &none       &trans       &none     &kp END   &kp HOME  &none     &none    &none
        &trans  &sk LSHFT  &sk LCTRL  &sk LALT    &sk LGUI    &none       &trans       &kp LARW  &kp DARW  &kp UARW  &kp RARW  &none    &none
        &trans  &none      &none      &kp C_PREV  &sk C_NEXT  &kp C_PP    &trans       &none     &kp PGDN  &kp PGUP  &none     &none    &none 
&trans          &trans     &trans     &trans      &trans      &trans      &mkp RCLK    &trans    &trans    &trans    &trans    &trans  
            >;
            display-name = "NAV";
            sensor-bindings = <&scroll_encoder>;
        };

        fn_layer {
            bindings = <
        &gresc  &kp N1     &kp N2     &kp N3    &kp N4    &kp N5    &trans    &kp N6  &kp N7    &kp N8    &kp N9     &kp N0     &none
        &none   &kp F1     &kp F2     &kp F3    &kp F4    &none     &trans    &none   &kp F5    &kp F6    &kp F7     &kp F8     &none 
        &none   &sk LSHFT  &sk LCTRL  &sk LALT  &sk LGUI  &none     &trans    &none   &sk RGUI  &sk RALT  &sk RCTRL  &sk RSHFT  &none 
        &none   &kp F9     &kp F10    &kp F11   &kp F12   &none     &trans    &none   &none     &none     &none      &none      &none 
&none           &none      &none      &none     &none     &none     &trans    &none   &none     &none     &none      &none 
            >;
            display-name = "FN";
            sensor-bindings = <&inc_dec_kp C_BRI_UP C_BRI_DN>;
        };

        config_layer {
            bindings = <
       &studio_unlock  &none            &none            &none            &none            &none    &trans    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
       &none           &rgb_ug RGB_OFF  &rgb_ug RGB_ON   &rgb_ug RGB_EFF  &rgb_ug RGB_EFR  &none    &trans    &none         &none         &none         &none         &none         &none
       &none           &rgb_ug RGB_HUD  &rgb_ug RGB_HUI  &rgb_ug RGB_SAD  &rgb_ug RGB_SAI  &none    &trans    &none         &none         &none         &none         &none         &none 
       &none           &sys_reset       &none            &bootloader      &none            &none    &trans    &none         &none         &bootloader   &soft_off     &sys_reset    &none 
&none                  &none            &none            &none            &none            &none    &trans    &none         &none         &none         &none         &none 
            >;
            display-name = "CONFIG";
            sensor-bindings = <&keyboard_brightness_encoder>;
        };

        extra {
            bindings = <
       &none   &none  &none  &none  &none  &none    &trans    &none  &none  &none  &none  &none  &none
       &none   &none  &none  &none  &none  &none    &trans    &none  &none  &none  &none  &none  &none
       &none   &none  &none  &none  &none  &none    &trans    &none  &none  &none  &none  &none  &none 
       &none   &none  &none  &none  &none  &none    &trans    &none  &none  &none  &none  &none  &none 
&none          &none  &none  &none  &none  &none    &trans    &none  &none  &none  &none  &none 
            >;
            display-name = "EXTRA";
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
        };
    };
};
